<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Le Quai Antique{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <link rel="stylesheet" href="{{ asset('assets/styles.scss') }}">

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <script src="{{ asset('assets/script.js') }}"></script>
    </head>
    <body>
        <!-- banner -->
        
        <div class="banner">
            <nav class="navbar dark-mode" role="navigation">
                <ul class="navbar__links">
                    <li class="navbar__link first"><a href="#">Accueil</a></li>
                    <li class="navbar__link second"><a href="#section2">reservation</a></li>
                    <li class="navbar__link third"><a href="#">la carte</a></li>
                    <li class="navbar__link four"><a href="#">compte</a></li>
                    <li class="navbar__link four"><a href="#">horaires</a></li>
                    <li class="navbar__link fifth"><a href="#">Contact</a></li>
                </ul>
                <button class="burger">
                    <span class="bar"></span>
                </button>
            </nav>
            <a href="#" class="a__reservation">reservation</a>
            <div class="title__h1">le quai antique</div>
        </div>

        <main>
        {% block body %}{% endblock %}
        </main>

        <!-- cursor-->
        <div class="cursor"></div>
        <div class="cursor cursor2"></div>
    </body>
</html>
